# SPDX-FileCopyrightText: 2025 The templig contributors.
# SPDX-License-Identifier: MPL-2.0

name: Security

on:
    push:
        branches:
          - master
    pull_request:
        branches:
          - master

# Declare default permissions as read-only.
permissions: read-all

jobs:
    TrivyCode:
        runs-on: ubuntu-latest
        permissions:
            security-events: write
        steps:
          - name: Harden Runner
            uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
            with:
                egress-policy: audit

          - name: Checkout code
            uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

          - name: Run Trivy vulnerability scanner in repo mode
            uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
            with:
                scan-type: 'fs'
                ignore-unfixed: true
                format: 'sarif'
                output: 'trivy-results.sarif'
                severity: 'CRITICAL'

          - name: Upload Trivy scan results to GitHub Security tab
            uses: github/codeql-action/upload-sarif@cf1bb45a277cb3c205638b2cd5c984db1c46a412 # v4.31.7
            with:
                sarif_file: 'trivy-results.sarif'

    GolangciLint:
        runs-on: ubuntu-latest
        permissions:
            security-events: write
        steps:
          - name: Harden Runner
            uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
            with:
                egress-policy: audit

          - name: Checkout
            uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            with:
                fetch-depth: 1

          - name: Run golangci-lint
            uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
            with:
                version: latest
                args: --output.sarif.path=golangci-lint-results.sarif

          - name: Upload golangci-lint results to GitHub Security tab
            uses: github/codeql-action/upload-sarif@cf1bb45a277cb3c205638b2cd5c984db1c46a412 # v4.31.7
            with:
                sarif_file: golangci-lint-results.sarif

    VulnerabilityCheck:
        strategy:
            matrix:
                go-version:
                  - "stable"
        runs-on: ubuntu-latest
        permissions:
            security-events: write
        steps:
          - name: Harden Runner
            uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
            with:
                egress-policy: audit

          - name: Checkout
            uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            with:
                fetch-depth: 1

          - name: VulnerabilityCheck
            uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
            with:
                repo-checkout: false
                go-version-input: ${{matrix.go-version}}
                output-format: sarif
                output-file: govulncheck-results.sarif

          - name: PrintSarif
            id: PrintSarif
            run:  |
                cat govulncheck-results.sarif
                
                if grep "'results'" govulncheck-results.sarif
                then
                    echo "hasResults=true" >> $GITHUB_OUTPUT
                else
                    echo "hasResults=false" >> $GITHUB_OUTPUT
                fi

          - name: Upload govulncheck results to GitHub Security tab
            if: ${{ steps.PrintSarif.outputs.hasResults == 'true' }}
            uses: github/codeql-action/upload-sarif@cf1bb45a277cb3c205638b2cd5c984db1c46a412 # v4.31.7
            with:
                sarif_file: govulncheck-results.sarif
